.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  max-width: 1920px;
  width: 100%;
}

.arrowUp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #dd2242;
  border-radius: 50px;
  font-size: 42px;
  z-index: 10000;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all ease 0.2s;
}

.arrowUp:hover {
  color: #dd6579;
}

.main {
  margin-top: 99px;
  flex: 1;
}

.wrapper {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  max-width: 1920px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 25px 10px;
  background-color: #010a20;
}

.logoNavWrap {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.logo a {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

.icon {
  display: none;
  position: relative;
  z-index: 1000;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 38px;
}

.icon {
  cursor: pointer;
  transition: 0.3s ease;
}

.icon:hover {
  color: #dd2242;
}

@media screen and (max-width: 960px) {
  .icon {
    display: block;
  }
}
